# this is file: prompt-eng/config
# Point to the target Ollama or Open-WebUI Server
# !!! YOU NEED TO ADJUST THE URL TO YOUR SERVER !!!
# !!! IF USING OPEN-WEBUI, PROVIDE TEH API_KEY !!!
# URL_GENERATE=https://chat.hpc.fau.edu/api/chat/completions

URL_GENERATE=${URL_GENERATE}
API_KEY=${API_KEY}